/*
https://www.w3schools.com/css/css_selectors.asp
https://www.w3schools.com/css/css_howto.asp
https://www.w3schools.com/css/css_comments.asp
https://www.w3schools.com/css/css_combinators.asp

  font-family: Arial, sans-serif;
  font-family: Verdana, sans-serif;
  font-family: 'Courier New', monospace;
  font-family: 'Brush Script MT', cursive;

001) It uses the default yellow color for highlighting. This can be changed using CSS properties.
002)
*/


/* MAIN/INDEX PAGE WITH SIDEBAR */
/* ---------------------------- */

body {
  font-family: 'Courier New', monospace;
}

iframe {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: lightgray;
}

.sidenav {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: lightgray;
  /* overflow-x: hidden; */
  padding-top: 20px;
}

/* BELOW ".sidenav a and .sidenav a:hover" NOT IN USE */
/* 
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 12px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

*/

.main {
  margin-left: 220px;
  /* Same as the width of the sidenav */
  font-size: 12px;
  /* Increased text to enable scrolling */
  font-family: 'Courier New', monospace;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}


/* SIDEBAR WITH FILTER */


/* Below style use for inside pre syntax */
pre {
  font-family: Consolas,"courier new";
  font-size: 13px;

}

pre b {
  text-align: left;
  color: black;
}

pre mark {
  background-color: yellow;
  color: black;
}

pre span {
  background-color: lightgreen;
  color: black;
}

pre code {
  font-family: 'courier new', 'Consolas';
  color: black;
  background-color: #FFF0F5;
  font-size: 120%;
}

pre h1 {
  text-align: left;
  color: blue;
}

pre h2 {
  text-align: left;
  color: blue;
}

pre h3 {
  text-align: left;
  color: blue;
}

pre h4 {
  text-align: left;
  color: blue;
}


pre ul {
  list-style-type: square;
  line-height: 0.5;
  text-decoration: none
}

pre a {
  text-decoration: none
}

pre a:hover {
  text-decoration: underline;
  color: red;
}

pre table, th, td {
  border: 1px solid lightgray;
  border-collapse: collapse;
  text-align:center;
}